name: "githubapp"
on:
  push:
    tags:
      - '**'
  workflow_dispatch:
 
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: github app
      run: |
       echo GITHUB_TOKEN=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
       curl https://api.github.com/repos/octodocs-test/test | jq
       curl -i -H "Authorization: Bearer TOKEN" https://api.github.com/repos/octodocs-test/test
       curl -i -H "Authorization: Bearer TOKEN" -d '{"title":"Hello World"}' https://api.github.com/SiyaaJhawar/learning/issues
