name: "githubapp"
on:
  push:
    tags:
      - '**'
  workflow_dispatch:
 


env:
   PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}

jobs:
  create-issue:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
    - uses: actions/checkout@v3

    - run : npm install axios
    - run : npm install jsonwebtoken
    
 
 
     
    

  #- run :npm install @octokit/rest
  
 
    - run : node Installation.js
    - run : node githubapp.js
   
    
     
       
      
     
       
    

      
