name: "githubapp"
on:
  push:
    tags:
      - '**'
  workflow_dispatch:
 

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  create-issue:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16
      

   

    - name: Create GitHub Issue
    - run:  npm install axios
    - run: node githubapp.js
     
    
     
       
      
     
       
    

      
