name: "githubapp"
on:
  push:
    tags:
      - '**'
  workflow_dispatch:
 


env:
   PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}

jobs:
  create-issue:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16
      
$ curl -i -X POST \  

  -H "Accept: application/vnd.github+json" \https://api.github.com/app/installations/:installation_id/access_tokens
  #- run :npm install @octokit/rest
    - run:npm install axios
    - run :npm install jsonwebtoken

    
   
    - run :node jsonweb.js
  #  - run : node Installation.js
   # - run :node githubapp.js
   
    
     
       
      
     
       
    

      
