name: "githubapp"
on:
  push:
    tags:
      - '**'
  workflow_dispatch:
 
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: github app
      
      run: |
       echo application_id:${{secrets.APPLICATION_ID}}
       echo application_privatekey:${{secrets.APPLICATION_PRIVATE_KEY}}
      
