name: "webhook"
 
on:
  push:
    tags:
      - '**'
  workflow_dispatch:
 
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: REST API with curl
      run: |
        curl "https://www.boredapi.com/api/activity" | jq 
         jq '.activity, .participants, .key'
        
        
