name: Create GitHub Issue

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  create-issue:
    runs-on: ubuntu-latest

    steps:
    - name: Create Issue
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        curl -H 'Authorization: Bearer $GITHUB_TOKEN' https://api.github.com/SiyaaJhawar/learning-
        curl -X POST \
        -H "Authorization: Bearer $GITHUB_TOKEN" \
        -H "Accept: application/vnd.github+json" \
        -d "{\"title\":\"Hello World\",\"body\":\"This is a test issue created from GitHub Actions\"}" \
        https://api.github.com/repos/SiyaaJhawar/learning-/issues
