name: Get JIRA Blocker List
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  get-blocker:
    runs-on: ubuntu-latest
    steps:
      
       
      - name: Install dependencies
        run: npm install
      -  run: npm install xmlhttprequest
      - name: Print environment variables
        
        env:
          JIRA_USERNAME: ${{ secrets.JIRA_USERNAME }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
       
      - name: Get JIRA Blocker List
        uses: actions/checkout@v2
     
      - uses: ./action
