name: Call a reusable workflow

on:
  pull_request:
    branches:
      - main
jobs:
  call-workflow-passing-data:
    uses: SiyaaJhawar/learning-/blob/main/.github/workflows/main.yml@main
    with:
      username: swati
    secrets: inherit
 
