name: Call a reusable workflow and use its outputs

on:
  workflow_dispatch:

jobs:
  job1:
    uses: SiyaaJhawar/learning-/.github/workflows/called-reusable.yml@main

  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - run: echo ${{ needs.job1.outputs.name }} ${{ needs.job1.outputs.subject }}
