

name: Variables

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:

  job1:
    runs-on: ubuntu-latest
    steps:
      - name: development
        run: echo global values
        
  job2:
    needs: job1
    runs-on: ubuntu-latest
    steps:
    -  name: Get secret from base 64
       env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
       run: |
          echo import certificate from secrets and regenerate the file
          echo $KEYSTORE_BASE64 | base64 -d > $RUNNER_TEMP/my_production.keystore

      
         
   
       
       
       
     
    
  
     
