

name: Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  job1:
  
   if: github.event.ref== 'refs/heads/dev'
   runs-on: ubuntu-latest
   environment: 
    name: development
   steps: 
     - uses: actions/setup-go@v3.5.0
     
       with:
         envkey_ENVIRONMENT: ${{secrets.ENVIRONMENT}}
         
     - name: Deployment
       run: |
         echo:'This is a development'
       
       
       
     
    
  
     
