name: "Hit a webhook"
 
on:
  push:
    
  workflow_dispatch:
 
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: REST API with curl
      run: |
        curl "https://www.boredapi.com/api/activity" \
        --header "Accept: application/vnd.github+json" \
        for i in $(echo $api_response | jq -r ".[]")
        do
          echo echo $i 
        done
         
         
        
        
       
        
        
               
            
              
           
        
         
         
        
        
        
        
        
        
         
        
 

   
       
         
       
