name: "Hit a webhook"
 
on:
  push:
    tags:
      - '**'
  workflow_dispatch:
 
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: REST API with curl
      run: |
         curl \
         -X POST \
         -H "Accept: application/vnd.github+json" \
         -H "Authorization: Bearer <My profile>"\
         -H "X-GitHub-Api-Version: 2022-11-28" \
         https://dummy.restapiexample.com/api/v1/create
 

   
       
         
       
