name: "Hit a webhook"
 
on:
  push:
    tags:
      - '**'
  workflow_dispatch:
  repository_dispatch:
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: REST API with curl
      run: |
         curl https://www.boredapi.com/api/activity
           -H   "Accept: application/json"
       
         
       
