name: "Hit a webhook"
 
on:
  push:
    
  workflow_dispatch:
 
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: REST API with curl
      run: |
        curl "https://www.boredapi.com/api/activity" | jq
        
      
           //    if let dictionary = json.object {
  
           // for (key, value) in dictionary {

          //     println("key: \(key), value: \(value)")

        //     }

           //   }
         
         
        
        
       
        
        
               
            
              
           
        
         
         
        
        
        
        
        
        
         
        
 

   
       
         
       
