name: "Hit a webhook"
 
on:
  push:
    tags:
      - '**'
  workflow_dispatch:
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: REST API with curl
      run: |
        
        
        curl -X POST "https://www.boredapi.com/api/activity"
        curl -H "Content-Type: application/json"
         
       
