name: "Hit a webhook"
 
on:
  push:
    tags:
      - '**'
  workflow_dispatch:
  repository_dispatch:
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: REST API with curl
      run: |
         curl -X GET "https://www.boredapi.com/api/activity"
       
         curl -H "Content-Type: application/json"
       
         
       
