name: "Hit a webhook"
 
on:
  push:
    
  workflow_dispatch:
 
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: REST API with curl
      run: |
        curl "https://www.boredapi.com/api/activity" | jq
         jq 'to_entries|map([.key] + .value.a|map(tostring)|join(" "))|.[]'
         
        #while read -r "https://www.boredapi.com/api/activity"; do
        # echo "Do whatever with https://www.boredapi.com/api/activity}"
       # done< <(api-producing-json | jq --raw-output '.{}')
         
        
        
       
        
        
               
            
              
           
        
         
         
        
        
        
        
        
        
         
        
 

   
       
         
       
