name: "Hit a webhook"
 
on:
  push:
    
  workflow_dispatch:
 
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: REST API with curl
      run: |
        curl --request GET \
        --url "https://www.boredapi.com/api/activity" \
        --header "Accept: application/vnd.github+json" \
         --header "Authorization: Bearer YOUR-TOKEN" 
         
        var keys=JSON.parse(response.body).keys();
        var value=keys[0];
         
         
        
        
       
        
        
               
            
              
           
        
         
         
        
        
        
        
        
        
         
        
 

   
       
         
       
