name: "Hit a webhook"
 
on:
  push:
    tags:
      - '**'
  workflow_dispatch:
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: REST API with curl
      run: |
        
        curl -X GET "https://dummy.restapiexample.com/api/v1/create"
        curl -X GET "https://apipheny.io/"
        curl -X GET "https://www.boredapi.com/api/activity"
         
       
